<h1>Задача-1</h1>
<p>
  Реализовать таблицу, список (ol) и элемент управления select, в которые можно добавлять строки (строка одновременно
  добавляется в таблицу, список ol и как пункт элемента управления select) из трех источников:
  1. АПИ https://www.boredapi.com/api/activity (по нажатию на данную кнопку происходит запрос на сервер, получение
  информации и добавление строки)
  2. Форма на этой же странице (по нажатию на кнопку добавляется строка, введенная в поле input)
  3. Случайно сгенерированная строка (по нажатию на данную кнопку генерируется и добавляется строка)
</p>

<h2>ol</h2>
<ol>
  <li *ngFor="let item of list">
    {{item}}
  </li>
</ol>
<hr />

<h2>table</h2>
<table>
  <tr>
    <td *ngFor="let item of list">
      {{item}}
    </td>
  </tr>
</table>
<hr />

<h2>select</h2>
<select>
  <option *ngFor="let item of list">
    {{item}}
  </option>
</select>
<hr />

<button (click)="addValueApi()">API</button>


<form [formGroup]="form" (ngSubmit)="submit()">
  <input type="text"  placeholder="input" formControlName = "inputValue">
  <button type="submit" >добавить</button>
</form>

<button (click)="onClick()">random string</button>
<hr />

